/* general */

body {
  font-family: 'Lato', sans-serif;
  background-color: #b54545;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 35%;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}


button.btn {
  margin: 10px;
  border: 1px solid black;
  background-color: #7a7a7a;
  color: #e8e5e5;
  border: none;
}

button.btn:hover {
  background-color: #686868;
}


.top .box {
  width: 70%;
  background-color: #e8e5e5;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.top .box input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 10px;
  margin-bottom: 35px;
  width: 90%;
}

.top .box input:focus {
  background-color: #b5b4b4;
  color: #e8e5e5;
}

.top .box input:focus::placeholder {
  color:#cf3131;
}


.bottom .box {
  width: 70%; 
  background-color: #e8e5e5;
  margin: 30px auto;
  padding: 15px 20px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
